<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Mastermind</title>
    <script src="angular.js"></script>
    <script type="text/javascript" src="mastermind.js"></script>
    <script type="text/javascript" src="mastermind-app.js"></script>
    <link rel="stylesheet" href="styles.css" media="screen" charset="utf-8">

  </head>
  <body>
    <div ng-app="MasterMindApp">
      <div ng-controller="MasterMindController">

        <h3>Enter a 4-length Guess (RGBWY only)</h3>
        <h4 ng-if="showInputErrorMessage" style="color:red;">Invalid Guess</h4>
        <form ng-submit="takeGuess()">
          <input type="text" ng-model="newGuess" autofocus focus-on="newGameEvent" ng-disabled="gameOver">
        </form>
        <br />
        <button ng-click="newGame()">New Game</button>
        <br />
        <div ng-if="gameOver">
          <h1>
            {{ gameOverMessage() }}
          </h1>
        </div>
        <br />
        <br />

        <table>
          <tr ng-repeat="num in [0,1,2,3]">
            <td ng-repeat="guess in guesses">
              <div class="circle color {{ guess.colors[num] }}"></div>
            </td>
          </tr>
        </table>
        <table class="peg-row">
          <tr>
            <td ng-repeat="guess in guesses">
              <div class="small-circle color R" ng-repeat="x in range(guess.redPegs) track by $index"></div>
              <div class="small-circle color W" ng-repeat="x in range(guess.whitePegs) track by $index"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </body>
</html>
