.small-circle {
  border-radius: 5px;
  height: 10px;
  float: left;
  margin: 5px;
  width: 10px;
}

.circle {
  border-radius: 40px;
  height: 20px;
  width: 20px;
}

.color.R {
  background-color: #f42727;
}
.color.G {
  background-color: #0a0;
}
.color.B {
  background-color: #0e2fd4;
}
.color.W {
  background-color: #ffffff;
}
.color.Y {
  background-color: #d3f427;
}

table {
  background-color: #CCC;
  padding: 10px;
  border-radius: 10px;
}

body {
  margin-left: 80px;
  margin-top: 80px;
}

input[type="text"] {
  font-size: 20px;
}

td {
  height: 50px;
  width: 50px;
}

button {
  font-size: 20px;
}

peg-row {
  border-top: 1px solid black;
}
