.small-circle {
  border-radius: 5px;
  height: 10px;
  float: left;
  margin: 5px;
  width: 10px;
}

.circle {
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.color.R {
  background-color: #f42727;
}
.color.G {
  background-color: #0a0;
}
.color.B {
  background-color: #0e2fd4;
}
.color.W {
  background-color: #ffffff;
}
.color.Y {
  background-color: #d3f427;
}

table {
  background-color: #CCC;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

body {
  margin-left: 80px;
  margin-top: 80px;
}

input[type="text"] {
  font-size: 20px;
}

td {
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

button {
  font-size: 20px;
}

.peg-row {
  background-color: #ddd;
  border-radius: 0 0 10px 10px;
}

.peg-row td {
  vertical-align: top;
}
